@model IPagedList<Data.Entities.Category>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container">


    @if (User.IsInRole("A"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }


    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
    {
        <div class="form-inline ml-auto">
           @Html.TextBox("search", ViewBag.Filter_value as string, new { @class = "form-control", @placeholder = "Search" })
            @*<input class="form-control"type="text" name="search" placeholder="Search.." />*@
            <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
        </div>
    }
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Category", new { page, search = Request.QueryString["search"] }))

</div>